@import './variables';

.time-box {
	stroke:red;
}

.axis--grid .domain {
  fill: white;/*#ddd;*/
  stroke: none;
  /*border: 3px solid red;*/
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #ddd; /*#fff;*/
}

.axis--grid .tick--minor line {
  stroke-opacity: .5;
}

.axis--breakpoint {
	stroke:$outer_space;
	stroke-opacity: .8;
	stroke-width:1px;
}

.segment {
	background-color:$silver-sand;
}

.time-axis {
	stroke:$outer_space;
	stroke-width:1px;
}

.time-axis-editable {
	stroke:$outer_space;
	stroke-width:1px;
}

.time-axis-editable:active {
	stroke:$better-green;
	stroke-width:1px;
}

.time-rects {
	border-left:solid 1px #B4B4B4;
}

.time-rects-2 {
	border-left:solid 1px #B4B4B4;
}
