@import './variables';

.authForm {
	position:relative;
	width:50%;
    border:0.5px solid rgba(38, 50, 56, 0.1);
    border-radius:2px;
    padding:10px;
    height:290px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    text-align:middle;
    background-color:white;
    box-shadow: -1px -1px 1px 0.1px rgba(38, 50, 56, 0.05);

    h3 {
    	margin-top:35px;
    	font-size:2rem;
    	text-transform: uppercase;
    	color: rgba(38, 50, 56, 0.9);
    	margin-bottom:20px;

    }

    input {
    	margin-left:auto;
    	margin-right:auto;
    	margin-bottom:20px;
    	width: 30%;
    	height:30px;
    	border-radius: 2px;
    	border: 0.5px solid rgba(38, 50, 56, 0.1);
    	outline:none;
    	background-color: whitesmoke;
    	display:block;
    	font-size: 1.6rem;
    	

    }

    input[type=number] {-moz-appearance: textfield;}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
    	/* display: none; <- Crashes Chrome on hover */
    -webkit-inner-spin-button-webkit-appearance: none;
    	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

    input[type="text"]:focus, input[type="number"]:focus {
    	border: 1px solid rgba(38, 50, 56, 0.6);
    	outline: 0;
    	cursor:text;

    }

    .submit {
    	background-color: whitesmoke;
    	border: 1px solid rgba(38, 50, 56, 0.1);
    	padding: 5px;
    	text-align:center;
    	text-decoration:none;
    	font-size: 1.6rem;
    	text-transform: uppercase;
    	color: rgba(38, 50, 56, 0.9);
    	
    }

    .submit:hover {
    	background-color: rgba(38, 50, 56, 0.6);
    	color: whitesmoke;
    	cursor:pointer;

    }

    .submit:focus {
    	outline: 0;
    }

    .submit:disabled {
        color: rgba(38, 50, 56, 0.2)
    }

    .code {
        margin-top:8px;
        font-size:1.6rem;
        fo
    }

    .divider {
  		border: 0;
  		height: 1px;
  		background: #ccc;
  		width: 40%;
  		margin: 32px auto 0;
  		margin-left:auto;
  		margin-right:auto;
  		margin-top: 30px;
  		margin-bottom:30px;
	}

}


