@import './variables';

.simultForm {
	position:absolute;
    z-index:99;
    top:40%;
    left:50%;
    width:300px;
    height:400px;
    border:0.5px solid rgba(38, 50, 56, 0.1);
    border-radius:2px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    text-align:middle;
    background-color:white;
    box-shadow: -1px -1px 1px 0.1px rgba(38, 50, 56, 0.05);

    h3 {
    	margin-top:15px;
    	font-size:2rem;
        text-align:center;
    	text-transform: uppercase;
    	color: rgba(38, 50, 56, 0.9);
    	margin-bottom:20px;

    }

    input {
    	margin-left:auto;
    	margin-right:auto;
    	margin-bottom:20px;
    	width: 70%;
    	height:30px;
    	border-radius: 2px;
    	border: 0.5px solid rgba(38, 50, 56, 0.1);
    	outline:none;
    	background-color: whitesmoke;
    	display:block;
    	font-size: 1.6rem;
    	
    }

    textarea{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;
        width: 70%;
        height:30px;
        border-radius: 2px;
        border: 0.5px solid rgba(38, 50, 56, 0.1);
        outline:none;
        background-color: whitesmoke;
        display:block;
        font-size: 1.6rem;

    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(38, 50, 56, 0.2);
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(38, 50, 56, 0.2);
    }

    
    .breakpointid {

    }

    .segmentid {
        height:100px;
    }


    input[type=number] {-moz-appearance: textfield;}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
    	/* display: none; <- Crashes Chrome on hover */
    -webkit-inner-spin-button-webkit-appearance: none;
    	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

    input[type="text"]:focus, input[type="number"]:focus {
    	border: 1px solid rgba(38, 50, 56, 0.6);
    	outline: 0;
    	cursor:text;

    }

    .submit {
        margin:auto;
        display:block;
    	background-color: whitesmoke;
    	border: 1px solid rgba(38, 50, 56, 0.1);
    	padding: 5px;
    	text-align:center;
    	text-decoration:none;
    	font-size: 1.6rem;
    	text-transform: uppercase;
    	color: rgba(38, 50, 56, 0.9);
    	
    }

    .submit:hover {
    	background-color: rgba(38, 50, 56, 0.6);
    	color: whitesmoke;
    	cursor:pointer;

    }

    .submit:focus {
    	outline: 0;
    }

    .submit:disabled {
        color: rgba(38, 50, 56, 0.2)
    }

    .close {
        border:none;
        position:absolute;
        top:0;
        right:0;
        margin-top:1px;
        margin-right: 2px;
        width:18px;
        font-size: 2rem;
        color: rgba(38, 50, 56, 0.9);

    }

    .close:hover {
        border:none;
        background-color: white;
    }

    .close:focus {
        outline: 0
    }

    .close:disabled {
        color: rgba(38, 50, 56, 0.2)
    }

    .divider {
  		border: 0;
  		height: 1px;
  		background: #ccc;
  		width: 40%;
  		margin: 32px auto 0;
  		margin-left:auto;
  		margin-right:auto;
  		margin-top: 30px;
  		margin-bottom:30px;
	}

}