@import './variables';


.phaseWrapper {
	margin-left:156px;
	text-align:left;
	display:block;
	padding-left:40px;
	-webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

.instructions {
	position:relative;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:10px;
    text-align:left;
    line-height: 150%;

    h3 {
    	font-size:2rem
    }

}

.instructionsTitle {
	font-size: 1.8rem;
	text-transform: uppercase;
}

.instructions {
	font-size: 1.5rem;
}

.experimentDate {
	font-size: 1.2rem;
}

.divider{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 90%;
  margin: 32px auto 0;
}

.interactionPreventer {
	position:absolute;
	width: 700px;
	height: 400px;

}

.next {
	float:right;
	margin-right:40px;
}

.start {
	float:left;
}

.timelineComponent {
padding-top:20px;
}